# Milestone Project

## Day 4: Pandas

In [1]:
# import packages
import numpy as np
import pandas as pd

In [2]:
# import data set
data_raw = pd.read_csv('Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses_-_FY2020.csv')
data = data_raw.copy()

### 1. How many different companies are represented in the data set?

In [3]:
# get the number of unique values in the 'Company Name' column
companies = data['Company Name'].unique().shape[0]
print(f"There are {companies} different companies represented in the data set.")

There are 439 different companies represented in the data set.

### 2. What is the total number of jobs created for businesses in Queens?

In [4]:
# filter by borough and sum to get total jobs created
queens = data[data['Borough'] == 'Queens']
print(f"There was a total of {int(queens['Job created'].sum())} jobs created for businesses in Queens.")

There was a total of 102 jobs created for businesses in Queens.

### 3. How many different unique email domains are there in the data set?

In [5]:
# drop NaN, split string in 'company email' column to get domain name, then get count of domains
data.dropna(inplace=True, subset=['company email'])
emails = pd.DataFrame
emails = data['company email'].str.rsplit(pat='@', expand=True)
data['domain'] = emails[1]
domains = data['domain'].value_counts().shape[0]
print(f"There are {domains} different unique email domains in the data set.")

There are 356 different unique email domains in the data set.

### 4. Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?

In [6]:
# drop NaN, filter NTAs with at least 5 listed businesses. find average savings and total jobs
data.dropna(inplace=True, subset='NTA')
new_group = data.groupby(data['NTA']).filter(lambda x: len(x) >= 5)
avg_savings = new_group['Total Savings'].groupby(new_group['NTA']).mean()
jobs = new_group['Job created'].groupby(new_group['NTA']).sum()
nta_data = pd.concat([avg_savings, jobs], axis=1)
nta_data = nta_data.astype('int')
print("The average total savings and total jobs created for each NTA with at least 5 listed businesses is:")
nta_data

The average total savings and total jobs created for each NTA with at least 5 listed businesses is:

                                                  Total Savings  Job created
NTA
Bushwick South                                            26140           10
Carroll Gardens-Columbia Street-Red Hook                  24337            0
College Point                                             17159            2
Crown Heights North                                        4036            0
DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill          63639            0
East New York                                             53156            0
East Williamsburg                                         13990            0
Greenpoint                                                 9753            0
Hunters Point-Sunnyside-West Maspeth                      23931            0
Hunts Point                                               42330           12
Manhattanville                                             2760            0
Maspeth                                                    6658           10
Mott Haven-Port Morris                                    17843           10
Queensbridge-Ravenswood-Long Island City                  61830            0
Springfield Gardens South-Brookville                      17757            0
Steinway                                                  11227           20
Sunset Park West                                          14622            0
park-cemetery-etc-Brooklyn                                14327            0

### 5. Save result for previous question as a CSV file.

In [7]:
nta_data.to_csv('NTA-data.csv')

## Day 5: Plotting

In [8]:
# import packages
import altair as alt

In [9]:
plot_data = pd.read_csv('NTA-data.csv')

### 1. Create a scatterplot of jobs created versus average savings.  Use both a standard and log scale for average savings

In [10]:
# standard scale
alt.Chart(plot_data, title="Jobs created vs. average savings").mark_point().encode(
    x='Job created', 
    y='Total Savings',
    color = 'NTA'
)

alt.Chart(...)

In [11]:
# logarithmic scale
alt.Chart(plot_data, title="Jobs created vs. average savings (log)").mark_point().encode(
    x='Job created', 
    y=alt.Y('Total Savings',
            scale=alt.Scale(type='log')),
    color = 'NTA',
    tooltip = ['NTA', 'Total Savings']
)

alt.Chart(...)

### 2. Create a histogram of the log of the average total savings.

In [12]:
plot_data['log_avg_savings'] = np.log(plot_data['Total Savings'])
alt.Chart(plot_data, title="Average total savings (log) histogram").mark_bar().encode(
    x = alt.X('log_avg_savings', bin = alt.BinParams(maxbins = 10)),
    y = 'count()'
)

alt.Chart(...)

### 3. Create a line plot of the total jobs created for each month.

In [13]:
# get data for total jobs created by month
data['Date'] = pd.to_datetime(data['Effective Date'])
months = pd.Series({1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May', 6:'Jun', 7:'Jul', 8:'Aug', 9:'Sept', 10:'Oct', 11:'Nov', 12:'Dec'}, name='Month')
per_month = pd.concat([data['Job created'].groupby([data['Date'].dt.month]).sum(), months], axis=1)

In [14]:
alt.Chart(per_month.reset_index(), title="Total jobs created by month").mark_line().encode(
    x = alt.X('Month:O', sort=None),
    y = 'Job created:Q',
    order='index'
).properties(
    width=400,
    height=200
)

alt.Chart(...)